body{
    font-family: 'Roboto Mono', monospace;
    margin: 1%;
}
h1{
    font-size: 50px;
}
.highlight{
    color: orange;
}
.half-page{
    width: 50%;
    float: left;
   
}
.half-page img{
    width: 50%;
    position: relative;
    

}
.top-banner{
    background-image: url(image/top-banner.png) ;
    background-repeat: no-repeat;
    border :  1px solid darkgrey;
}
section{
    height: 600px;
}
.second-half img{
    width: 85%;
}
.second-half {
    width:50% ;
    float: left;
}
.second-banner{
    border: 1px solid salmon;
    margin-top: 10px;
}
.button{
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}
  
}
.second-banner{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.third-sec{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.half-web{
    width:40% ;
    float: left;
    margin-left: 70px;
    padding-right: 10px;
}
.single-box{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    background-color: white;
}
#first-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato) ;
    border-image-slice: 1;
}
#second-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
